*,
*::before,
*::after {
    box-sizing: border-box;
}
:root{
    --main-font: 'Roboto';
    --secondary-font: 'Raleway';
    --main-background:#ffffff;
    --sec-background:#2E2F42;
    --sup-background:#4D5AE5;
    --teem-background:#F4F4FD;
    --main-color:#2E2F42;
    --sec-color:#434455;
    --hover-btn-color:#404BBF;
    --btn-color:#E7E9FC;
    --icon-color:#8E8F99;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    display: block;
}
.backdrop{
transition-property: transform, opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.headr_mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px;
}
.open_menu{
    padding: 0;
    border: none;
    background-color: var(--main-background);
}
.backdrop.is-hidden {
    transform: scale(0.7);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
   
}

.container {
    max-width:428px;
        padding-left:16px;
        padding-right:16px;
        margin-left: auto;
        margin-right: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
body{
    font-family:var(--main-font), sans-serif;
    color: var(--main-color);
    
}
a{
    padding: 0 ;
    text-decoration:none;
    display: block;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.headr{
    background-color: var(--main-background);
    border-bottom: 1px solid var(--btn-color);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.mobile_navigation{
    z-index: 100;
display: none;
position: fixed;
background-color: var(--main-background);
width: 100%;
height: 100vh;
top: 0;
left: 0;
padding: 80px 35px 40px 40px;
}
.is-open{
    display: block;
}
.menu_icon{
    fill: black;
}
.navigation{
    display: none;
    align-items: center;
}
       
.navigation_list{
    display: flex;
    margin-left: 76px;
}
.nav_item:not(:last-child){
    margin-right: 40px;
}
.contacts{
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: auto;
}

.logo{
    color: var(--main-color);
    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    line-height:1.16;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    
}
.web{
    color: var(--sup-background);
}

.nav_link{
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: Roboto;
    color: var(--main-color);
    font-weight: 500;
    font-size: 16px;
    line-height:1.5;
    letter-spacing: 0.32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav_link:hover, .nav_link:focus{
    color: var(--sup-background);
}
.act-page{
    position: relative;
    color: var(--hover-btn-color);
}
.act-page::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color:var(--hover-btn-color) ;
    border-radius: 2px;
    bottom:-1px;
    left: 0;

}
.contacts_link{
    font-family: Roboto;
    color: var(--sec-color);
    font-size: 12px;
    line-height:1.16;
    letter-spacing: 0.48px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts_link:focus, .contacts_link:hover{
    color:var(--sup-background);
}
.hero{
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 100%;
    background-color: var(--sec-background);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/Hero@1x.jpg);
                background-repeat: no-repeat;
                background-position: center;
                margin: 0 auto;
                @media (-webkit-min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi) {
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                rgba(46, 47, 66, 0.7)), url(../images/Hero@2x.jpg);
                    }
                
}

.hero_title{
    display: block;
    margin: 0 auto 72px auto;
    font-weight: 700;
    font-size: 36px;
    line-height:1.11;
    color: var(--main-background);
    letter-spacing: 0.72px;
    text-align: center;

}
.hero_button{
    display: block;
    padding: 16px 32px;
    margin: 0 auto;
background-color: var(--sup-background);
color: var(--main-background);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.64px;
text-align: center;
cursor: pointer;
border: none;
border-radius: 4px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero_button:hover, .hero_button:focus{
    background-color: var(--hover-btn-color);
}
.advantage .container{
   padding: 96px 16px;

}
.pluses_item{
    width:100%;
}
.pluses_item:not(:last-child){
    margin-bottom: 72px;
}
.pluses{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.advantage_title{
    font-size: 36px;
    font-weight: 700;
    line-height:1.11;
    letter-spacing: 0.72px;
    margin-bottom: 8px;
    text-align: center;
}
.advantage_text{
    font-size: 16px;
    font-weight: 500;
    line-height:1.5;
    letter-spacing: 0.32px;
    color: var(--sec-color);
}
.our-job{
    display: none;
}

.our-job .container{
    padding-bottom: 120px;
}
.our-job_list{
    display: flex;
    justify-content: space-between;
}
.our-job_title{
    color: var(--sec-background);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height:1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.our-team .container{
    padding-top: 96px;
    padding-bottom: 96px;
}
.our-team{
    background-color: var(--teem-background);
}
.our-team_list{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.our-team_card:not(:last-child){
    margin-bottom: 72px;
}
.our-team_card{
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    background-color: var(--main-background);
    max-width: 264px;
    margin: 0 auto;
}
.our-team_title{
    color: var(--sec-background);
    font-size: 36px;
    font-weight: 700;
    line-height:1.11;
    letter-spacing: 0.72px;
    text-align: center;
    margin-bottom: 72px;
}
.our-team_titles{
    font-size: 20px;
    font-weight: 500;
    line-height:1.2;
    letter-spacing: 0.4px;
    margin-top: 32px;
    margin-bottom: 8px;
    text-align: center;
}
.our-team_text{
    color: var(--sec-color);
    font-size: 16px;
    line-height:1.5;
    letter-spacing: 0.32px;
    text-align: center;
}
.footr .container{
    padding-top: 97.5px;
    padding-bottom: 96px;
}
.footr{
    background-color:var(--sec-background) ;
}
.log_footer{
    display: block;
    color:var(--teem-background);
    margin-bottom: 17.5px;

}
.logo_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
}
.footr_text{
    color: var(--teem-background);
    font-size: 16px;
    line-height:1.5;
    letter-spacing: 0.32px;
    max-width: 264px;
}
.portf  .container{
    padding: 48px 16px;
}
.portf_buttons{
    width: 263px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px ;
    justify-content: space-between;

}
.portf_button{
    padding: 7px 15px;
    cursor: pointer;
background-color: var(--teem-background);
border-radius: 4px;
border: 1px solid var(--btn-color );
color: var(--sup-background);
font-family: var(--main-font);
font-size: 16px;
font-weight: 500;
line-height:1.5;
letter-spacing: 0.64px;
text-align:center ;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portf_buttons-item{
margin-bottom: 16px;
}
.portf_buttons-item:nth-child(n+4){
    margin-bottom: 0;
}
.portf_buttons-item:last-child{
    margin-left: 24px;
    margin-right: auto;
}
.portf_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.portf_button:hover, .portf_button:focus{
    background-color: var(--hover-btn-color);
    color: var(--main-background);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    border-color: var(--hover-btn-color);
}
.portf_card{
    width: 100%;
    overflow: hidden;
    margin-bottom: 48px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portf_card:last-child{
    margin-bottom: 0;
}

.portf_title{
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height:1.2;
    letter-spacing: 0.4px;
}
.portf_text{
    color:var(--sec-color);
    font-size: 16px;
    line-height:1.5;
    letter-spacing: 0.32px;
}
.card-box{
    padding: 32px 16px;
    border: 1px solid var(--btn-color);
    border-top: none;
  
}
.customers_title{
    color:var(--sec-background) ;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height:1.11;
    letter-spacing: 0.72px;
    margin-bottom: 72px;
}
.customers_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}
.customers_item{
    display: block;
width: calc((100% - 16px) / 2);
margin-bottom: 72px;
}
.customers_item:nth-last-child(-n+2) {
    margin-bottom: 0;
}
.customers_link{
    border: 1px solid var(--icon-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 88px;
    transition:  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers .container{
    padding-top: 96px;
    padding-bottom: 96px;
}
.backdrop{
    width: 100%;
    height: 100%;
    background-color: blue;
    background: rgba(46, 47, 66, 0.4);
        position: fixed;
        top: 0;
        left: 0;
}
.modal{
    position: absolute;
    width: 392px;
    height: 584px;
    background-color: #FCFCFC;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
}

.modal_button{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7E9FC;
    border:1px solid rgba(0, 0, 0, 0.10);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    cursor: pointer;

}
.modal_button:hover, .modal_button:focus{
  
    border-color: #E7E9FC;
    filter: drop-shadow(0px 2px 1px rgba(46, 47, 66, 0.08)) drop-shadow(0px 1px 1px rgba(46, 47, 66, 0.16)) drop-shadow(0px 1px 6px rgba(46, 47, 66, 0.08));
}
.pluses_picture{
    background-color: var(--teem-background);
    height: 112px;
    border-radius: 4px;
    display: none;
    justify-content: center;
        align-items: center;
        margin-bottom: 8px;
}

.our-team_links{
    display: flex;
    justify-content: space-between;
 padding: 8px 16px 32px 16px;
}

.our-team_link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width:40px;
    background-color:var(--sup-background) ;
    border-radius: 50%;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 72px;
}
.networks_title{
    color: var(--main-background);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}
.networks_list{
    display: flex;
    justify-content: space-between;
    width: 208px;
}
.overlay{
    padding: 40px 32px;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    background-color: var(--sup-background);
        transform: translateY(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay_img{
    position: relative;
    overflow: hidden;


}
.portf_card:hover .overlay,.portf_card:focus .overlay{
    transform: none;
}
.portf_card:hover, .portf_card:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.overlay_text{ 

    color:var(--teem-background);
    font-size: 16px;
    line-height:1.5;
    letter-spacing: 0.32px;
}
.footr_svg{
    fill: var(--teem-background);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team_link:hover .footr_svg{
    fill: var(--main-background);
}
.our-team_link:hover{
    background-color: var(--hover-btn-color);
}
.customers_svg{
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers_link:hover, .customers_link:focus{
    border-color: var(--hover-btn-color);
}
.customers_link:hover .customers_svg,
.customers_link:focus .customers_svg{
    fill: var(--hover-btn-color);
}
.sub{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub_title{
    color: var(--main-background);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    margin-bottom: 16px;
}
.sub_label{
width: 100%;
margin-bottom: 16px;
}
.sub_input{
    padding: 8px 16px;
    background-color: var(--sec-background);
    border-radius: 4px;
    width: 100%;
    color: var(--main-background);
    font-size: 12px;
    line-height:2;
    letter-spacing: 0.48px;
        border: 1px solid var(--main-background);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        outline: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sub_input:hover, .sub_input:focus{
    border-color: var(--hover-btn-color);
}
.sub_button{
    margin-left: 24PX;
    display: flex;
    align-items: center;
    padding: 8px 24px;
    background-color:var(--sup-background) ;
    border: none;
    border-radius: 4px;
    color: var(--main-background);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    cursor: pointer;
}
.sub_button:hover , .sub_button:focus{
background-color: var(--hover-btn-color);
color:var(--btn-color) ;
}
.sub_icon{
    margin-left: 16px;
    fill: var(--main-background);
}
.sub_form{
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
}
.form_title{
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
    text-align: center;
}
.form_box{
    padding: 72px 16px 24px 16px;
}
.form_label{
    display: flex;
    position: relative;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.48px;
    color: var(--icon-color);
    margin-bottom: 8px;
}
.form_input{
    width: 100%;
    margin-top: 4px;
    padding: 10px 11px 10px 36px;
    font-size: 15px;
        line-height: 1.5px;
        letter-spacing: 0.32px;
        border: 1px solid rgba(46, 47, 66, 0.40);
        outline: none;
        border-radius: 4px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form_icon{
    position: absolute;
    bottom:14px;
    left:19px;
    fill: var(--sec-background);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form_input:focus, .form_input:hover{
    border-color: var(--sup-background);
}
.form_input:focus+.form_icon,.form_input:hover+.form_icon {
    fill:var(--sup-background);
}
.form_textarea{
    margin-top: 4px;
        padding: 8px 16px ;
        font-size: 12px;
        letter-spacing: 0.48px;
        border: 1px solid rgba(46, 47, 66, 0.40);
        outline: none;
        border-radius: 4px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        resize: none;
       height: 120px;
       width: 100%;
    }
.form_textarea:focus,
.form_textarea:hover {
    border-color: var(--sup-background);
}
.label_chek{
    margin-top: 16px;
    margin-bottom: 24px;
   justify-content: center;
    color: var(--icon-color);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.48px;
    position: relative;
    display: flex;
}
.chek_link{
    color: var(--sup-background);
    text-decoration: underline;
    margin-left: 2px;
}
.check-area{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    left: 0;
    top: -1px;
position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.chek:checked+.check-area{
background-color: var(--sup-background);
border-color: var(--sup-background);
background-image: url(../images/check.svg);
}
.check-area:hover{
    border-color: var(--sup-background);
}
.chek:focus+.check-area{
border-color: var(--sup-background);
}
.form_subm{
    display: block;
    margin: 0 auto;
    color: var(--main-background);
    font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.64px;
        padding: 16px 32px;
        text-align: center;
        background-color:var(--sup-background);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        width: 169px;
        border: none;
        cursor: pointer;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form_subm:hover, .form_subm:focus{
    background-color: var(--hover-btn-color);

}
.close_menu{
    position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--main-background);
        border: 1px solid rgba(0, 0, 0, 0.10);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
}
.navigation_list_mob{

}
.nav_item_mob:not(:last-child){
    margin-bottom: 40px;
}
.nav_link_mob{
    color: var(--main-color);
    font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.act-page-mob{
    color: var(--hover-btn-color);
}
.contacts_mob{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 40px;
   
}
.mob-tel{
    color: var(--sup-background);
    font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        margin-bottom: 40px;
}
.mob-mail{
    color: var(--main-color);
    font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
        margin-bottom: 40px;
}
.our-team_links_mob{
        display: flex;
            justify-content: space-between;
            padding-right: 25px;
}
.nav_link_mob:hover, .nav_link_mob:focus{
    color: var(--hover-btn-color);
}
@media screen and (max-height:520px) {
    .contacts_mob {
            position: static;
         padding-top: 20px;
        }
   
}
 @media screen and (max-width:394px) {
     .modal {
         width: 320px;
     }
.mob-tel{
    font-size: 28px;
}
     .form_title {
         font-size: 14px;
     }
     .label_chek{
        margin: 10px
        0 16px 0;
        padding-left: 20px;
        font-display: flex;
        flex-direction: column;
     }
 }
                                         @media screen and (min-width:768px) {
                .footr .container {
                       padding-left: 108px;
                       padding-right: 108px;
                    display: flex;
                       flex-wrap: wrap;
                    }
                    .sub_input{
                        width: 264px;
                    }
                    .sub_label{
                        margin: 0;
                    }
                 .sub_form{
                    flex-direction: row;
                 }
   .portf_buttons {
    padding: 0 75px;
       width: 100%;
       display: flex;
       flex-wrap: nowrap;
       margin-bottom: 64px;
       justify-content: space-between;

   }

   .portf_button {
       padding: 11px 23px;
   }

   .portf_buttons-item {
       margin-bottom: 0;
   }


   .portf_buttons-item:last-child {
       margin-left: 0;
       margin-right: 0;
   }
                 .portf .container {
       padding-top:64px;
       padding-bottom: 96px;
   }
   .portf_list{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   }
   .portf_card{
    width: calc((100% - 24px ) /2);
   }
                 .sub {
    margin-top: 72px;
       display: flex;
       flex-direction: column;
       align-items: start;
   }
                    .logo_box{
        margin-bottom: 0;
       align-items: start;
    }
    .networks{
    margin-bottom: 0;
    align-items: start;
    margin-left: 24px;
    }
    .customers_list {
        padding: 0 92px;
    
        }
    
        .customers_item {
            width: calc((100% - 48px) / 3);  
       
        }
     .customers_item:nth-last-child(-n+3) {
                                    margin-bottom: 0;
                                }
    .our-team_list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 92px;
    
        }
    
        .our-team_card:not(:last-child) {
            margin-bottom: 0;
        }
                .our-team_card:nth-child(-n+2){
                    margin-bottom: 64px;
                }
    
        .our-team_card {
        margin-left: 0;
        margin-right: 0;
        }
    .advantage_title {
            text-align:start;
        }
    .pluses_item {
           
            width: calc((100% - 24px) / 2);
        }
    
        .pluses_item:not(:last-child) {
            margin-bottom: 0;
        }
                .pluses_item:nth-child(-n+2){
                    margin-bottom: 72px;
                }
    .pluses{
        flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
    }

    .hero_title{
            height: 120px;
        font-size: 56px;
        line-height: 1.07;
            letter-spacing: 1.12px;
            width: 496px;
            margin-bottom: 36px;
    }
    .modal {
            width: 408px;
        }
      .container {
        max-width:768px ;
      }

      .headr_mobile {
          display: none;
      }
      .navigation {
          display: flex;
      }

      .mobile_navigation {
          display: none;
      }
  }
                                             @media screen and (min-width:1158px) {
                                            
                                                .container {
                                                        max-width: 1158px;
                                                    }
    .contacts{
        flex-direction: row;
    }
.portf .container{
    padding-top: 100px;
    padding-bottom: 120px;
}
.portf_buttons{
    padding: 0 271px;
    margin-bottom: 72px;
}

.portf_card{
width: calc((100% - 48px)/3);
}
.portf_card:nth-last-child( -n + 3){
    margin-bottom: 0;
}
    .customers .container{
        padding: 120px 16px ;
    }
    .our-team .container {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .hero{
        height: 600px;
        padding-top: 188px;
        padding-bottom: 188px;
    }
    .pluses{
        flex-wrap: nowrap;
    }
    .advantage_title{
        font-size: 20px;   
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.4px;
      
        
    }
.our-team_list{
    flex-wrap: nowrap;
    padding: 0;
}
.customers_list{
    padding: 0;
}
.customers_item{
    width: calc((100% - 120px)/6);
    margin-bottom: 0;
}
.our-team_card{
    width: calc((100% - 72px)/4);
}
.our-team_card:nth-child(-n+2) {
    margin-bottom: 0;
}
    .advantage .container{
        padding-top: 120px;
        padding-bottom: 120px;
    }
        .advantage_text{
                font-weight: 400;
                    letter-spacing: 0.3px;
        }
                  .pluses_item:nth-child(-n+2) {
                      margin-bottom: 0;
                  }
    .pluses_item{
        width: calc((100% - 72px) / 4);
     
    }
    .hero_title{
        margin-bottom: 48px;
    }
         .contacts_link{
            font-size: 16px;
         }
    .our-job {
          display: block;
      }
    .pluses_picture {
         display: flex;
 }
.footr .container{
    flex-wrap: nowrap;
    padding: 100px 16px;
}
 .contacts_item:not(:last-child) {
     margin-right: 40px;
 }
.sub{
    margin-top: 0;
    margin-left: 80px;
}
.networks{
    margin-left: 120px;
}
  }